<div class="myContainer">
  <div *ngIf="!isAuth" class="offer-container">
    <div class="offer">
      <h1>Watch on any device</h1>
      <h2>Stream on your phone, tablet, laptop, and TV without paying more.</h2>
    </div>
    <div>
      <button class="btn-transparent" (click)="goToRegister()">REGISTER FOR WATCH VIDEOS</button>
    </div>
  </div>
  <div *ngIf="isAuth" class="carousel-container">
    <div class="carousel-wrapper" *ngIf="spotlightVideoList && spotlightVideoList.length > 0">
      <h2 class="carousel-name">Spotlight Videos</h2>
      <app-carousel [videoList]="spotlightVideoList"></app-carousel>
    </div>

    <div class="carousel-wrapper" *ngFor="let item of categoryVideoList">
      <h2 class="carousel-name">{{ item.category.name }}</h2>
      <app-carousel [videoList]="item.videoList"></app-carousel>
    </div>
  </div>

</div>
