/* Coolors Exported Palette - coolors.co/210d42-e2cfea-a144ff-6247aa-2a2d43 */

/* RGB */
$background: rgba(33, 13, 66, 1);
$front: rgba(226, 207, 234, 1);
$secondary: rgba(161, 68, 255, 1);
$primary: rgba(98, 71, 170, 1);
$dark: rgba(42, 45, 67, 1);