@import "./../../../palette.scss";

/* Add a black background color to the top navigation */
.topnav {
  width: 100%;
  margin: 0;
  border: 0;
  background-color: $background;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: $secondary;
  color: white;
}


/* Add a color to the active/current link */
.topnav a.active {
  background-color: $primary;
  color: #f6f6f6;
}

.example-spacer {
  flex: 1 1 auto;
}

#logo
{
  width: 12%;
}
