<mat-toolbar class="topnav">
  <mat-toolbar-row>
    <img id="logo" src="./../../../assets/logo2.png" />

    <span class="example-spacer"></span>
    <span> <a i18n="@@home-button" matLine routerLink="/">Home</a> </span>
    <span *ngIf="!isAuth">
      <a i18n="@@login-button" matLine routerLink="/login">Login</a>
      <a i18n="@@register-button" matLine routerLink="/register">Register</a>
    </span>
    <span *ngIf="isAuth">
      <a i18n="@@admin-button" *ngIf="isAdmin" matLine routerLink="/admin">Admin</a>
      <a i18n="@@profile-button" matLine routerLink="/me">Mon Profile</a>
      <a i18n="@@logout-button" matLine (click)="logout()">Logout</a>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
