<mat-toolbar class="topnav" color="primary">
    <mat-toolbar-row>
        <img id="logo" src="./../../../assets/logo2.png" />

        <span class="example-spacer"></span>
        <a matLine routerLink='/admin'>Admin</a>
        <a matLine routerLink='/login'>Login</a>
        <a matLine routerLink='/register'>Register</a>
        <div *ngIf="userObservable | async as user; else show">
            <button mat-button (click)="logout()">Logout</button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
