@import "./../../../palette.scss";

#add-video
{
    margin-top: 2%;
    
    #titreInput
    {
        color: $dark;
        font-weight: bold;
        margin-top: 10%;
    }

    #groupe-url
    {
        margin-bottom: 3%;
    }

    input
    {
        color: $dark;
    }

    #checkbox
    {
        label
        {
            color: $dark;
        }
    }

    #description
    {
        color: $dark;
        margin-bottom: 3%;
    }
    #add-video
    {
        margin-left: 20%;
        background-color: $light;
        margin-bottom: 5%;
    }
    #ajouter
    {
        margin-bottom: 5%;
        color: white;
    }
}