<app-nav-admin></app-nav-admin>
<div class="col-md-8 offset-md-2" id="add-video">
    <div class="form-group col-md-6 offset-md-3">
        <label id="titreInput" for="title">Titre de la vidéo</label>
        <input type="text" class="form-control" id="title" placeholder="Ex : Meilleurs plaquage de TOP14 - 2018">
    </div>
    <div id="groupe-url" class="form-group col-md-6 offset-md-3">
        <label id="titreInput" for="url">Adresse url de la vidéo</label>
        <input type="text" class="form-control" id="url" placeholder="Ex : https://www.youtube.com/watch?v=pnpLVgRXUK8&t=5533s">
    </div>


    <div class="form-group col-md-6 offset-md-2">
        <label id="titreInput" for="title">Catégorie de la vidéo</label>
    </div>
    <div id="checkbox" class="row">
        <div class="form-check form-check-inline col-md-2 offset-md-2">
            <input class="form-check-input" type="checkbox" id="humour" value="humour">
            <label class="form-check-label" for="humour">Humour</label>
        </div>
        <div class="form-check form-check-inline col-md-2">
            <input class="form-check-input" type="checkbox" id="action" value="action">
            <label class="form-check-label" for="action">Action</label>
        </div>
        <div class="form-check form-check-inline col-md-2">
            <input class="form-check-input" type="checkbox" id="vlog" value="vlog">
            <label class="form-check-label" for="vlog">Vlog</label>
        </div>
        <div class="form-check form-check-inline col-md-2">
            <input class="form-check-input" type="checkbox" id="horreur" value="horreur">
            <label class="form-check-label" for="horreur">Horreur</label>
        </div>
    </div>

    <div id="checkbox" class="row">
        <div class="form-check form-check-inline col-md-2 offset-md-2">
            <input class="form-check-input" type="checkbox" id="animal" value="animal">
            <label class="form-check-label" for="animal">Animal</label>
        </div>
        <div class="form-check form-check-inline col-md-2">
            <input class="form-check-input" type="checkbox" id="jeux-video" value="jeux-video">
            <label class="form-check-label" for="jeux-video">Jeux-Vidéo</label>
        </div>
        <div class="form-check form-check-inline col-md-2">
            <input class="form-check-input" type="checkbox" id="voyage" value="voyage">
            <label class="form-check-label" for="voyage">Voyage</label>
        </div>
        <div class="form-check form-check-inline col-md-2">
            <input class="form-check-input" type="checkbox" id="beauté" value="beauté">
            <label class="form-check-label" for="beauté">Beauté</label>
        </div>
    </div>

    <div id="checkbox" class="row">
        <div class="form-check form-check-inline col-md-2 offset-md-2">
            <input class="form-check-input" type="checkbox" id="sport" value="sport">
            <label class="form-check-label" for="sport">Sport</label>
        </div>
        <div class="form-check form-check-inline col-md-2">
            <input class="form-check-input" type="checkbox" id="histoire" value="histoire">
            <label class="form-check-label" for="histoire">Histoire</label>
        </div>
        <div class="form-check form-check-inline col-md-2">
            <input class="form-check-input" type="checkbox" id="musique" value="musique">
            <label class="form-check-label" for="musique">Musique</label>
        </div>
        <div class="form-check form-check-inline col-md-2">
            <input class="form-check-input" type="checkbox" id="autre" value="autre">
            <label class="form-check-label" for="autre">Autre</label>
        </div>
    </div>

    <div class="form-group col-md-6 offset-md-2">
            <label id="titreInput" for="title">Limitation d'âge</label>
        </div>
        <div id="checkbox" class="row">
            <div class="form-check form-check-inline col-md-2 offset-md-2">
                <input class="form-check-input" type="checkbox" id="10" value="10">
                <label class="form-check-label" for="10">-10 ans</label>
            </div>
            <div class="form-check form-check-inline col-md-2">
                <input class="form-check-input" type="checkbox" id="12" value="12">
                <label class="form-check-label" for="12">-12 ans</label>
            </div>
            <div class="form-check form-check-inline col-md-2">
                <input class="form-check-input" type="checkbox" id="16" value="16">
                <label class="form-check-label" for="16">-16 ans</label>
            </div>
            <div class="form-check form-check-inline col-md-2">
                <input class="form-check-input" type="checkbox" id="18" value="18">
                <label class="form-check-label" for="18">-18 ans</label>
            </div>
        </div>

        <div id="description" class="form-group col-md-8 offset-md-2">
            <label id="titreInput" for="exampleTextarea">Description</label>
            <textarea class="form-control" id="description" rows="4"></textarea>
        </div>
</div>