<app-nav-admin></app-nav-admin>
<div class="myContainer">
  <div id="add-category">
    <div id="formulaire" class="card">
      <div class="form-group">
        <label i18n="@@select-categorie" for="category">Selectionner la categorie</label>
        <select [(ngModel)]="categoryselect" class="form-control" id="category">
          <option *ngFor="let cat of AllCategory" [value]="cat.name">{{cat.name}}</option>
        </select>
      </div>
      <span *ngFor="let categoryVideo of categoryVideoList">
        <table [hidden]="categoryVideo.category.name!==categoryselect" id="table" class="table table-sm">
          <thead>
            <tr>
              <th i18n="@@video-title-label" scope="col">Nom de la video</th>
              <th scope="col">Likes</th>
              <th i18n="@@gerer-label" scope="col">Gerer</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let video of categoryVideo.videoList">
              <td>{{video.name}}</td>
              <td>{{video.likeCount}}</td>
              <td><button i18n="@@supprimer-video" (click)="deleteVideo(video)" class="btn btn-danger"><span class="glyphicon glyphicon-minus-sign"></span>Supprimer
                  la video</button></td>
            </tr>
          </tbody>
        </table>
      </span>
    </div>
  </div>
</div>
