<div id="login">
  <mat-card>
    <mat-card-header>
      <mat-card-title i18n="@@login-title" style="font-size:35px; text-align:center;"> Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="login-form">
        <form>
          <mat-form-field>
            <input matInput placeholder="Entrez votre email" [(ngModel)]="email" name="useremail" required>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Entrez votre mot de passe" [(ngModel)]="password" name="userpswd" [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix class="hide-button" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
          <br>
          <button i18n="@@login-button-form" mat-button (click)="login(email, password)">Se connecter</button>
        </form>
      </div>
      <hr />
    </mat-card-content>
    <mat-card-actions>
      <h2 i18n="@@ou-title">Ou?</h2>
      <button i18n="@@login-google-button" mat-icon-button (click)="loginGoogle()">Login with google</button>
    </mat-card-actions>
    <p i18n="@@pasdecomte-text">Vous n'avez pas de compte? créez en un <a matLine routerLink='/register'> ici </a></p>
  </mat-card>

</div>
