@import "./../../../palette.scss";

#login
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93vh;
  background-image: url("./../../../assets/lot-avocado.jpg");
  background-size: cover;
  .login-card
    {
      min-width: 30%;
      background-color: $light;

      .card-head{
        display: flex;
        flex-direction: column;
        align-items: center;
        .logo{
          width: 200px;
          height: 200px;
          border-radius: 50%;

        }
      }
    }
}
mat-form-field {
  width: 90%;
  margin: 2%;
}

.hide-button{
  cursor: pointer;
}
