<div id="navAdmin">
  <div class="blocAdmin">
      <img id="add" class="icon" src="./../../../assets/add-video.png"/><a i18n="@@video-add-button" matLine routerLink='/admin'>Ajouter une vidéo</a>
  </div>
  <div class="blocAdmin">
    <img id="add-categ" class="icon" src="./../../../assets/category-icon.png"/><a i18n="@@categories-gerer-button" matLine routerLink='/gestion_category'>Gérer les catégories</a>
  </div>
  <div class="blocAdmin">
      <img id="manage2" class="icon" src="./../../../assets/library.png"/><a i18n="@@video-gestion-button" matLine routerLink='/gestion_video'>Gestion des vidéos</a>
  </div>
</div>
