<div id="navAdmin">
  <div class="blocAdmin">
      <img id="add" class="icon" src="./../../../assets/add-video.png"/><a matLine routerLink='/admin'>Ajouter une vidéo</a>
  </div>
  <div class="blocAdmin">
      <img id="manage" class="icon" src="./../../../assets/users.png"/><a matLine routerLink='/gestion_user'>Gestion des utilisateurs</a>
  </div>
  <div class="blocAdmin">
    <img id="add-categ" class="icon" src="./../../../assets/category-icon.png"/><a matLine routerLink='/gestion_category'>Gérer les catégories</a>
  </div>
  <div class="blocAdmin">
      <img id="manage2" class="icon" src="./../../../assets/library.png"/><a matLine routerLink='/gestion_video'>Gestion des vidéos</a>
  </div>    
</div>