@import "./../../../palette.scss";

#user
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93vh;
  background-image: url("./../../../assets/lot-avocado.jpg");
  background-size: cover;
  .login-card
    {
      min-width: 30%;
      background-color: $light;

      .card-head{
        display: flex;
        flex-direction: column;
        align-items: center;
        .logo{
          width: 200px;
          height: 200px;
          border-radius: 50%;

        }
      }

      h3{
        text-align: center;
      }

      .button-container{
        display: flex;
        justify-content: center;

        button{
          background-color: $primary;
          color: $dark;
          border: 5px solid $secondary;
        }
      }


    }



}
