<div id="user">
  <div *ngIf="userObservable | async as user">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title style="font-size:35px">{{user.displayName | uppercase}} </mat-card-title>
      </mat-card-header>
      <img *ngIf="user.photoURL" mat-card-image [src]="user.photoURL" alt="photoURL">
      <img *ngIf="!(user.photoURL)" mat-card-image src="./../../../assets/small-logo.png" alt="photoURL">
      <mat-card-content>
        <h3> {{user.email}} </h3>
        <p>Abonnement active: {{users.isActive}}</p>
        <p>Nom de l'abonnement: {{users.subscription.name}}</p>
        <p>Nombre de profile: {{users.subscription.authorizedProfiles}}</p>
        <p>Reglement: {{users.subscription.periodicity}}</p>
        <p>Prix: {{users.subscription.price}}</p>

        <p>Profiles: {{users.profiles.length}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="auth.signOut()">Logout</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
