@import "./../../../palette.scss";

#user
{
    width: 80%;
    margin: auto;
    margin-top: 5%;

    mat-card
    {
        background-color: $light;
    }

}
 img {
   width: 300px;
   border-radius: 50%;
   margin-left: 1%;
   border: 1px solid;
 }
